.intro-content {
	}


.fly-in-text {
    list-style: none;
    /*position: absolute;*/
    transform: translateX(-50) translateY(-50);
}
    .fly-in-text li {
        display: inline-block;
        margin-right: 5px; 
        opacity: 1;
        transition: all 2.5s ease;
    }
    .fly-in-text li:nth-child(5) {
        margin-right: 30px; 
    }
    .fly-in-text li:last-child {
        margin-right: 0; 
    }
    .fly-in-text.hidden li {
        opacity: 0;
        font-size: 4rem;
    }
    .fly-in-text.hidden li:nth-child(1) {transform: translateX(900px) translateY(50px);}
    .fly-in-text.hidden li:nth-child(2) {transform: translateX(20px) translateY(900px);}
    .fly-in-text.hidden li:nth-child(3) {transform: translateX(50px) translateY(850px);}
    .fly-in-text.hidden li:nth-child(4) {transform: translateX(10px) translateY(200px);}
    .fly-in-text.hidden li:nth-child(5) {transform: translateX(300px) translateY(700px);}
    .fly-in-text.hidden li:nth-child(6) {transform: translateX(965px) translateY(750px);}
    .fly-in-text.hidden li:nth-child(7) {transform: translateX(30px) translateY(700px);}
    .fly-in-text.hidden li:nth-child(8) {transform: translateX(250px) translateY(150px);}
    .fly-in-text.hidden li:nth-child(9) {transform: translateX(15px) translateY(60px);}
    .fly-in-text.hidden li:nth-child(10) {transform: translateX(500px) translateY(600px);}
    .fly-in-text.hidden li:nth-child(11) {transform: translateX(50px) translateY(250px);}


.me {
    margin-top: 100px; 
    border-radius: 10px;
}


.tech_summary ul {
	display: inline-block;
	vertical-align: top;
}
.tech_summary li {
	list-style: none;
	text-align: left;
}
.modal-body p {
	text-align: justify;
}
.portfolio-wrapper img {
    height: 235.59px; 
}
